<div class="row">
  <div class="col-md-12">
    <h4>Add a comment</h4>

    <%= form_for ([post, post.comments.new]) do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 4, class: 'form-control', placeholder: "Enter your comment"%>
      <br>
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
