<h1>Contact Us</h1>
<div>
    <address>
    <i class="fa fa-phone-square"></i>
    <abbr title="Phone"> Phone: </abbr>(010)110 0101<br />
    <i class="fa fa-envelope-o"></i>
    <abbr title="email"> email: </abbr>ar.k@outlook.com
    </address>
</div>


