
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

.user-info {
   margin-top: 9px;
 }

 .nav {
   margin-top: 5px;
 }

small {
  font-size: smaller;
  color: #0066cc;
}

.vote-arrows {
   width: 40px;
   text-align: center;
   margin-top: 8px;
 }

 .edit-delete-button {
   float: right;
   margin-top: 30px;
 }
